.input.--append {
  display: flex;
  margin: 0.5rem 0.6rem;
}

.input ._field {
  position: relative;
}

.input ._field input {

  border: none;
  border-bottom: 1px solid var(--grey-3);

  max-width: 2.5rem;
  padding: 0;
  margin: 0;

  color: gray;

  text-align: end;
  vertical-align: bottom;
}
.input ._field input:focus-visible {
  outline: none;
}

.input ._hint,
.input ._label {

  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bolder;
  color: #4f4f4f;

  padding: 0 0 0 .3rem;

  cursor: pointer;

  border-bottom: 1px solid var(--grey-3);
}
.input ._hint {

  text-transform: none;

  font-size: 0.9rem;
  font-weight: lighter;
  color: #534d4d;
}
