.radio {
  display: none;
}
.radio.--button + label {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.8rem;
  text-align: center;
  display: inline-block;
}
.radio.--button:checked + label,
.radio.--button + label:hover {
  color: white;
  background: black;
  cursor: pointer;
  font-weight: bolder;
}
.radio.--button:not(:checked) + label:hover {
  background: #202020;
  border: 2px solid #202020;
}
.radio.--button:checked + label:hover {
  cursor: default;
}

/* radio icon */

.radio.--icon + label {
  display: inline-block;
}
.radio.--icon:checked + label .icon,
.radio.--icon + label:hover .icon {
  fill: var(--primary);
  stroke: var(--primary);
}
.radio.--icon:not(:checked) + label:hover .icon {
  cursor: pointer;
  fill: #828282;
  stroke: #828282;
}
.radio.--icon:checked + label:hover {
  cursor: default;
}

/* radio card */

.radio.--card + label {
  display: inline-block;
  filter: grayscale(1);
}
.radio.--card + label .card-image {
  border: 1px dashed transparent;
}
.radio.--card:checked + label .card-image,
.radio.--card:checked + label .card-image,
.radio.--card + label:hover .card-image {
  border: 1px dashed black;
}
.radio.--card:not(:checked) + label:hover {
  cursor: pointer;
}
.radio.--card:checked + label {
  filter: grayscale(0);
}
.radio.--card:checked + label:hover {
  cursor: default;
}
