/* container */
.result_container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40% 1fr;
  grid-template-areas:
    "logo logo"
    "description description"
    "calories calories";
}

/* description */
._description {
  grid-area: description;
}

/* logo */
._logo {
  grid-area: logo;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2rem 0 1rem 0;
}
._logo img {
  width: 7rem;
}

/* calories */
._calories {

  grid-area: calories;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .result_container {
    grid-template-areas:
      "description description"
      "logo calories";
  }
  ._logo img {
    width: 10rem;
  }
}
