.container-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "sex sex"
    "other other";
}

.sexFields {
  grid-area: sex;

  display: flex;
  justify-content: center;
}

.otherFields {
  grid-area: other;
  display: flex;
  flex-direction: column;
}

.otherFields,
.sexFields {
  align-self: center;
  justify-self: center;
}

@media (min-width: 576px) {

  .otherFields {
    flex-direction: row;
  }

  .container-info {
    grid-gap: 3rem;
  }
}
