.box > header .container-shape .rect {
  background: white;
  width: inherit;
  border: none;
  font-size: 1px;
}

.box > header .rect,
.box > header .triangle {
  display: none;
  height: 0.7rem;
}

.box > header .triangle {
  width: initial;
}

.box > header .container-shape {
  display: flex;
  align-items: flex-end;
  width: -webkit-fill-available;
  width: -moz-available;
}

@media (min-width: 768px) {
  .box > header .rect,
  .box > header .triangle {
    display: block;
  }
}
