.card-image {
  width: 7.2rem;

  width: 10rem;
}

.card-image > ._featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 4rem;
}

.card-image > ._featured img {
  max-width: 2.5rem;
}

.card-image > ._body {
  text-transform: uppercase;
  padding: 0.4rem 0.3rem;
  text-align: center;
}

.card-image.--header-revert > ._body ._header {
  display: flex;
  flex-direction: column-reverse;
}

.card-image > ._body ._header ._title {
  font-weight: bolder;
  font-size: 0.85rem;
}

.card-image > ._body ._subtitle {
  margin: 0;
  font-size: 0.7rem;
  color: var(--grey-2);
  text-align: center;
}

.card-image > ._body ._text {
  text-transform: none;
  font-weight: lighter;
  color: #383737;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
