.card-text {
  display: flex;
  flex-direction: row;

  text-transform: uppercase;
  margin: 0.5rem 0;
}
.card-text.--rtl {
  flex-direction: row-reverse;
  text-align: right;
}

/* header */

.card-text ._featured {

  grid-area: header;
  justify-self: end;

  background-color: #000;
}
.card-text ._featured {

  display: flex;
  align-items: center;

  width: 4.5rem;
  height: 2.5rem;

  text-transform: none;
  text-align: center;
  font-weight: bold;
  color: white;

  font-size: 0.8rem;
}
.card-text.--rtl ._featured {
  justify-self: start;
}

/* body */

.card-text ._body {
  grid-area: body;
}

.card-text ._body ._text {

  font-size: 0.65rem;
}

/* header & body */

.card-text ._featured,
.card-text ._body {

  padding: 0 .5rem 0 .5rem;
}
.card-text ._header ._title,
.card-text ._header {
  font-size: 0.8rem;
}

/* ---- */

@media (min-width: 576px) {
  
  .card-text ._featured {

    width: 3rem;
    height: 2.5rem;
  }
}


