.navigation {

  display: flex;
}

/* buttons */

.navigation ._button {

  --border: 0.01px solid #d94c0042;

  background-color: var(--primary);

  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  
  border: none;
  padding: var(--padding);
  width: 100%;

  border-left: var(--border);
  border-right: var(--border);
}
.navigation ._button:hover {

  cursor: pointer;
  background-color: #d94b00;
}
.navigation ._button:last-child {

  border-bottom-right-radius: var(--border-radius);
  border-right: none;
}
.navigation ._button:first-child {

  border-bottom-left-radius: var(--border-radius);
  border-left: none;
}
.navigation ._button:only-child {

  border-bottom: var(--border-radius);
}

.navigation ._button.--disabled {

  background-color: #d94b00;
  cursor: not-allowed;
  color: #b34003;
}
