.shape-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "option1"
    "option2"
    "option3";
}

.shape-container .option1 { grid-area: option1; }
.shape-container .option2 { grid-area: option2; }
.shape-container .option3 { grid-area: option3; }

.shape-container .option1, 
.shape-container .option2,
.shape-container .option3 { 
  
  justify-self: center;
}

@media (min-width: 576px) {
  .shape-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "option1 option2"
      "option3 option3";
  }
}

@media (min-width: 768px) {
  .shape-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "option1 option2 option3";
  }
}

