.life-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "order1"
    "order4"
    "order2"
    "order3"
    "order5";
  grid-gap: 2rem;
}

.life-container .option.--order-1 { grid-area: order1; }
.life-container .option.--order-2 { grid-area: order2; }
.life-container .option.--order-3 { grid-area: order3; }
.life-container .option.--order-4 { grid-area: order4; }
.life-container .option.--order-5 { grid-area: order5; }

.life-container .option { 
  
  justify-self: center;
  align-self: center;
}

@media (min-width: 576px) {
  .life-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-template-areas: 
      "order1 order4"
      "order2 order2"
      "order3 order5";
  }
}

@media (min-width: 768px) {
  .life-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "order1 order2 order3"
      "order4 order2 order5";
  }
}

