.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: white;
  position: relative;
  margin: 1rem;

  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0.6rem;

  min-height: 80vh;
}

.box > ._header ._title {

  padding: 0.5rem 1rem;
  flex-shrink: 0;
}

.box > ._header {

  display: flex;
  align-items: stretch;

  background-color: black;
  color: white;
  text-transform: uppercase;

  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.box > ._body {
  padding: 2rem;
}

@media (min-width: 576px) {
  .box {
    min-width: 25rem;
    min-height: 45rem;
  }
}

@media (min-width: 768px) {
  .box {
    width: 600px;
    min-height: 34rem;
  }
}
