.icon {

  fill: var(--grey-3);
  stroke: var(--grey-3);
}

.icon > * {

  display: inline-block;
  width: 1.5rem;
}

.icon.--active {

  fill: var(--primary);
  stroke: var(--primary);
}

.icon.--md > * { width: 2.5rem; }
.icon.--lg > * { width: 3.5rem; }
