@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');

/* reset */
h1 {
  font-size: 1rem;
}

p,
h1 {
  margin: 0;
}

fieldset {
  border: none;
}

::-moz-selection,
::selection {
  color: var(--white) !important;
  background: var(--primary);
}

:root * {
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* base */
:root {
  --border-radius: 0.5rem;
  --padding: 0.8rem;
  --primary: #ff5901;

  --white: #fff;

  --grey-1: #454545;
  --grey-2: #676767;
  --grey-3: #9C9C9C;

  font-family: 'Roboto', sans-serif;
}

/* general */
.App {
  height: 100vh;
}

@media (min-width: 768px) {
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* utilities */
.--uppercase {
  text-transform: uppercase;
}

.--bolder {
  font-weight: bolder;
}

.--d-grid {
  display: grid;
}

/* animation */
.bg-active.--gradient {

  --animation: bg-gradient 1s ease infinite;;

  background: linear-gradient(125deg, #ff5901, #f8a919);
  background-size: 140%;

  -webkit-animation: var(--animation);
  -moz-animation: var(--animation);
  -o-animation: var(--animation);
  animation: var(--animation);
}

@-webkit-keyframes bg-gradient {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@-moz-keyframes bg-gradient {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@-o-keyframes bg-gradient {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@keyframes bg-gradient {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
